{
	"githubAuthors": [
		"ace-n"
	],
	"githubOrg": "Ada-C11",
	"cacheExpiry": "60 minutes",
	"allGithubRepos": [
		"Restricted-Arrays-Part1",
		"array_equals",
		"factorial",
		"integer_palindrome_check",
		"palindrome_check",
		"reverse_sentence",
		"reverse_words",
		"string_reverse",
		"fibonacci",
		"array_intersection"
	]
}
